In [2]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_csv('wine.csv', sep=";")

In [15]:
data.shape

(1599, 12)

In [12]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [14]:
data.to_csv('wine_data.csv')

In [16]:
train1_data = data[:1000]

In [17]:
train1_data.shape

(1000, 12)

In [18]:
train2_data = data[500:1500]

In [19]:
train2_data.shape

(1000, 12)